<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated adaptation -->
      <package
            uri="http://www.inf.kcl.ac.uk/xdsml_compose/2017/adaptation/1.0"
            class="uk.ac.kcl.inf.xdsml_compose.behaviour_adaptation.Behaviour_adaptationPackage"
            genModel="model/adaptation.genmodel"/>
   </extension>

	<!-- register the Xtext UI language services for the adaptation language to Xtext's registry -->
   	<extension
         point="org.eclipse.xtext.extension_resourceServiceProvider">
	    <resourceServiceProvider
	          class="uk.ac.kcl.inf.xdsml_compose.behaviour_adaptation.xtextsupport.ui.BehaviourAdaptationExecutableExtensionFactory:org.eclipse.xtext.ui.resource.generic.EmfResourceUIServiceProvider"
	          uriExtension="henshin">
	    </resourceServiceProvider>
   	</extension>
 </plugin>
